.red {
  background-color: rgb(255, 123, 123);
}

.blue {
  background-color: rgb(123, 185, 255);
}

.yellow {
  background-color: rgb(255, 235, 123);
}

/* #purple-potion, #orange-potion, #green-potion, #brown-potion {
  display: none;
} */